<form (submit)="submitReview()">
    <p *ngIf="error.errors.name" class="error">Name must be at least 3 characters</p>
    <p *ngIf="error.errors.text" class="error">Review must be at least 3 characters</p>
    <label>Your Name</label>
    <input type="text" name="review.name" [(ngModel)]="review.name">
    <label>Stars</label>
    <select name="review.stars" [(ngModel)]="review.stars">
        <option value="1">1 Star</option>
        <option value="2">2 Star</option>
        <option value="3">3 Star</option>
        <option value="4">4 Star</option>
        <option value="5">5 Star</option>
    </select>
    <label>Your Review</label>
    <input type="text" name="review.text" [(ngModel)]="review.text">
    <button type="button" [routerLink]="['/reviews', params.id]">Cancel</button>
    <input type="submit">
</form>
